@charset "utf-8";
@font-face{
	font-family: "方正粗圆简体";
	src:url('../fonts/方正粗圆简体.ttf');
}
/*异步加载CSS文件方法
@import url("http://a.tzt.cn/common/css/base-min.css");
*/
/*
理念：
1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
*/

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ 
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ 
pre, /* text formatting elements 文本格式元素 */
 form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */ 
 th, td /* table elements 表格元素 */ {
	margin:0;
	padding:0;
}
body{
	background-color: #ffce37;
}
/** 默认字体 **/
div{
	font-family: "Arial","Microsoft YaHei","宋体",sans-serif;
}
/** placeholder默认设置 **/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000; opacity:0.3; 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;opacity:0.3;
}
input:-ms-input-placeholder{
    color: #000;opacity:0.3;
}
input::-webkit-input-placeholder{
    color: #000;opacity:0.3;
}

img {
    padding: 0;
    margin: 0;
}
p{
	display: inline;
}
/*外层盒子*/
.mainBox{
	position: relative;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 690px;
	overflow: auto;
	background:url(../images/background.png) no-repeat;
	background-size:100% auto; 
}
/*标题logo*/
.logoOne{
	position: relative;
	width: 100%;
	margin-bottom: 30px;
}
.logoOne img{
	width: 100%;
	height: 100%;
}
/*标语*/
.sloganOne{
	text-align: center;
	font-size: 1.5em;
	font-family: "Arial","方正粗圆简体","Microsoft YaHei",sans-serif;
	color: #333;
}
.sloganTwo{
	text-align: center;
	font-size: 0.9em;
	letter-spacing:-1px;
	color: #333;
	margin:8px auto;
}

/***两个输入框***/
.phoneNum{
	display: inline;
	float: left;
	margin-top: 5px;
	margin-bottom: 20px;
	width: 83%;
	height: 40px;
	border: 1px solid #7f7f7f;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    text-indent: 4%;
    font-size: 1.3em;
    overflow: auto;
}
.identifyCode{
	display: inline;
	float: left;
	width: 54%;
	height: 40px;
	border: 1px solid #7f7f7f;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    text-indent: 4%;
    font-family: "Arial","Microsoft YaHei","宋体",sans-serif;
    font-size: 1.3em;
}
/*如果屏幕宽度小于max-width则修改验证码框宽度*/
@media screen and (max-width: 328px) {
    .identifyCode{
    	width: 50%;
    }
	.phoneNum, .identifyCode{
		font-size: 1.1em;
	}
}
@media screen and (min-width: 410px) {
    .identifyCode{
    	width: 58%;
    }
}
#icon1{
	margin-left: 4%;
	padding-top: 19px;
	height:76px;
	float: left;
}
.getCode{
	width:100px;
	/*height: 25px;*/
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	padding: 4px 8px;
	/*padding-top: 5px;*/
	text-align: center;
	font-size: 1em;
	font-weight: 500;
	color: #e40077;
	background-color: #ffce37;
	background: transparent;
	border: 1px solid;
	border-radius: 20px;
    -webkit-border-radius: 20px;

}
.inputArea{
	overflow: auto;
	margin-bottom: 5px;
}
/***输入错误提示***/
.warm{
	color:#ff2e2e;
	padding-left: 9%; 
	display: block;
	visibility:hidden;
}
/***点击领取图标***/
.button{
	margin:0px auto;
	margin-top: 5px;
	width: 40%;
}
.button img{
	width: 100%;
	height: 100%;
}

/***详细活动规则>>***/
.rule{
	text-align: center;
	color: #e40077;
	margin-bottom:40px;
}
.rule p{
	letter-spacing:2px;
	font-weight: lighter;
}


/*ADD*/
/*弹窗部分*/
.clickBtm{
   transition: all 300ms ease;
}
.bgitem{
   width: 100%;
}
.mitem{
   position:absolute;
   width: 20%;
   transition: all 500ms ease;
}
.ots{
   position:absolute;
   bottom: 0px;
}
.it0{ bottom:80px;left:50px;}
.it1{ bottom:90px;left:110px;}
.it2{ bottom:100px;left:160px;}
.it3{ bottom:50px;left:190px;}
.it4{ bottom:80px;left:250px;}
.it5{ bottom:20px;right:40px;}


.box{
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.6);
   display: none;
   z-index: 99;
   transition: all 500ms ease;
   font-size: 0px;
   overflow: auto;
}
.box1{
   margin-top: -200%;
   width: 100%;
   height: 100%;
   position: fixed;
   transition: all 500ms ease;
	text-align: center;
}
.box1 img{
   width:100%;
   display:block;
   vertical-align:middle;
}
#box1 img,#box2 img{
	width:92%;
	position: relative;
	margin:0 auto;
}
.box1 p{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.corimg{
   margin-top: -5px!important;
}
.close{
   position:absolute!important;
   right:12%;
   bottom:38%;
   width:6%!important;

}
.WinBtm{
   width:60%!important;
   position: relative;
   margin: 0 auto;
   margin-top:-22%!important;
   transition: all 300ms ease;

}
.WinSus{ position: relative}
.WinSus p{
   position: relative;
   font-size: 26px;
   font-weight: bolder;
   margin: 0 auto;
   margin-top: -33%

}
.rlues{
   margin-top: -200%;
   margin:0 auto;
   width:90%;
   position: relative;
   transition: all 500ms ease;
}
.Windowpop2{
   text-decoration: none;
}

.WinArtical{
	background: #fff;
	width: 89.8%;
	position: relative;
	left: 0.8px;
	margin: 0 auto;
	margin-top: -1px;
	text-align: left;
	border-radius: 0px 0px 8px 8px;
}
.WinArtical div{
	color: #444;
   font-size: 16px;
	margin:8px 15px;
}

.loading{
	-webkit-animation:run 5s linear 0s infinite;
	width:25%!important;
	position: relative;
	margin: 0 auto;
	margin-bottom: 5%;
}
@-webkit-keyframes run{
	from{
		-webkit-transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg);
	}

}